/* --------key animation--------- */
.contact-key_image {
	transform-origin: center 2.5vmin;
	animation: 3000ms sign-move infinite;
}

@keyframes sign-move {
	0% {
		transform: rotatez(3deg) scaleX(1);
	}

	50% {
		transform: rotatez(-3deg) scaleX(1);
	}

	100% {
		transform: rotatez(3deg) scaleX(1);
	}
}

/* .............phone vibrating animation............... */

.animate_vibe {
	animation: vibe 2s linear 2s 8;
}

@keyframes vibe {
	0% {
	}
	2% {
		transform: translateX(5px) rotateZ(1deg);
	}
	4% {
		transform: translateX(-5px) rotateZ(-1deg);
	}
	6% {
		transform: translateX(3px) rotateZ(2deg);
	}
	8% {
		transform: translateX(-2px) rotateZ(-2deg);
	}
	10% {
		transform: translateX(1px) rotateZ(2deg);
	}
	12% {
		transform: translateX(-5px) rotateZ(-2deg);
	}
	14% {
		transform: translateX(3px) rotateZ(-1deg);
	}
	16% {
		transform: translateX(-5px) rotateZ(-2deg);
	}
	18% {
		transform: translateX(5px) rotateZ(2deg);
	}
	20% {
		transform: translateX(-5px) rotateZ(-2deg);
	}
	22% {
		transform: translateX(5px) rotateZ(2deg);
	}
	24% {
		transform: translateX(-3px) rotateZ(-2deg);
	}
	26% {
		transform: translateX(0px) rotateZ(0deg);
	}
	80% {
		transform: translateX(0px) rotateZ(0deg); /* Hold state */
	}
	100% {
		transform: translateX(0px) rotateZ(0deg); /* Complete pause */
	}
}

.glow_background {
	transform-origin: center 2.5vmin;
	animation: 8000ms cloud_effect infinite;
}

@keyframes cloud_effect {
	0% {
		transform: translateY(100px)  rotateZ(20deg) scaleX(1);
	}

	50% {
		transform: translateY(0px) rotateZ(-20deg) scaleX(1);
	}

	100% {
		transform: translateY(100px) rotateZ(20deg) scaleX(1);
	}
}
