.card_details {
	color: #333335 !important;
}

.blog_details h1 {
	/* display: block;
	font-size: 2em; */
	/* margin-top: 0.67em;
	margin-bottom: 0.67em; */
	/* margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	line-height: 1.2; */
}

/* .blog_details h2 {
	display: block;
	margin-bottom: 0.5em;
	padding-top: 1.5em;
	font-size: 1.75em;
	margin-left: 0;
	margin-right: 0;
	font-weight: 500;
	line-height: 49px;
	color: #010101 !important;
}
.blog_details h3 {
	display: block;
	margin-bottom: 0.4em;
	padding-top: 1.3em;
	font-size: 1.1em;
	margin-left: 0;
	margin-right: 0;
	font-weight: 500;
	line-height: 39px;
	color: #010101 !important;
} */
.card_details h4 {
	display: block;
	font-size: 1.05em;
	margin-top: 1.6em;
	margin-bottom: 0.5em;
	margin-left: 0;
	margin-right: 0;
	font-weight: 500;
	line-height: 30px;
}
.card_details h5 {
	display: block;
	font-size: 0.83em;
	/* margin-top: 1.67em;
    margin-bottom: 1.67em; */
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}
.card_details h6 {
	display: block;
	font-size: 0.67em;
	/* margin-top: 2.33em;
    margin-bottom: 2.33em; */
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

.card_details p {
	font-size: 20px;
	margin-bottom: 1.25em;
	line-height: 1.8;
	letter-spacing: -0.1px;
}

.card_details ul {
	font-size: 20px;
	list-style: disc;
	padding-left: 1.5em;
	margin-bottom: 2.5em;
}

.card_details ol {
	font-size: 20px;
	list-style-type: decimal;
	list-style-position: outside;
	padding-left: 1.7em;
	margin-bottom: 2.5em;
}

.card_details li {
	line-height: 180%;
	margin-bottom: 0.7em;
}

.card_details span {
	color: inherit !important;
}

.card_details a {
	color: blue;
}


@media only screen and (max-width: 1024px) {
	.card_details p {
		font-size: 16px;
		margin-bottom: 1.25em;
		line-height: 1.8;
		letter-spacing: -0.1px;
	}

	.card_details ul {
		font-size: 16px;
		list-style: disc;
		padding-left: 1.5em;
		margin-bottom: 2.5em;
	}

	.card_details ol {
		font-size: 16px;
		list-style-type: decimal;
		list-style-position: outside;
		padding-left: 1.7em;
		margin-bottom: 2.5em;
	}
}

@media only screen and (max-width: 768px) {
	.card_details h2 {
		font-size: 1.5em;
		line-height: 38px;
	}

	.card_details h3 {
		font-size: 1.1em;
		line-height: 28px;
	}
}
